.product {
    background: #fff;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    .left{
        flex: 1;
    }
    .content{
        flex: 1;
        display: flex;
        // flex-wrap: wrap;
        align-items: flex-start;
        img{
            width: 100%;
            min-width: 300px;
            max-width: 500px;
        }    
        .price{
            font-size: 12px;
            span{
                font-size: 33px;
            }
        }
     }
     .right{
        border: 1px solid ;
        border-radius: 10px;
        width: 244px;
        padding: 8px;
        p{
            font-size: 16px;
            color: #007185;
        }
        button{
            width: 200px;
            padding: 11px 40px;
            margin-top: 11px;
            border: 0;
            border-radius: 8px;
            background: #ffa41c;
        }

     }

}

        
    