.product-item {
    background: #fff;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    .left{
        width: 50%;
    }
    .content{
        flex: 1;
        display: flex;
        // flex-wrap: wrap;
        align-items: flex-start;
        img{
            width: 100%;
            max-width: 613px;
            max-height: 613px;
        }    
        .price{
            font-size: 12px;
            span{
                font-size: 33px;
            }
        }
     }
     .center {
        width: 50%;
        h1{
            font-size: 19px;
        }
        .ratings{
            font-size: 20px;
            color: orange;
        }
        .icon-farm-wrapper{
            display: flex;
            gap: 11px;
            border-bottom: 1px solid #007185;
            .section{
                width: 100px;
                text-align: center;
                margin-bottom: 10px;
                img{
                    width: 35px;
                    height: 35px;
                }
                div{
                    font-size: 14px;
                    color: #007185;
                }
            }
        }
    }
     .right{
        border: 1px solid ;
        border-radius: 10px;
        width: 244px;
        padding: 8px;
        p{
            font-size: 16px;
            color: #007185;
        }
        button{
            width: 200px;
            padding: 11px 40px;
            margin-top: 11px;
            border: 0;
            border-radius: 8px;
            background: #ffa41c;
        }

     }

}

        
    